*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body { 
    font-family:  var(--title-two-font);}

.container { max-width: 1000px; margin: 0 auto;}

:root {
    /* Text Size and Font Families */
    --title-font: 'Source Serif 4', serif;
    --small-title-size: 18px;
    --title-size: 25px;  
    --title-two-size: 30px;
    --title-two-font: 'Coda', cursive;
    --large-title-size: 35px;

    /* Colors */
    --yellow-1: rgb(137, 190, 211);
    --yellow-2: rgb(133, 142, 168);
    --blue-1: rgb(49, 69, 180);
    --black: rgb(0, 0, 0);
}

img, svg, video {
    max-width: 100%;
}

.btn {
    text-decoration: none;
    color: var(--black);
    padding: 1em 2em;
    background-color: var(--yellow-1);
    border-radius: 50px;
    border: 1px solid var(--yellow-2);
}

.btn:hover {
    background-color: var(--yellow-2);
}


/* Page 1 */

/* Nav */

header {
    position: sticky;
    top: 0;
    z-index: 9;
}

.flat {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.viz {
    display: none;
}

.logo-nav-link { 
    font-family: var(--title-font); 
    text-decoration: none; 
    color: var(--black); 
    font-size: var(--title-size); 
    font-weight: 500;
    padding-left: 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.bar-color {
    background-color: var(--yellow-1);
}

.nav-bar { 
    min-height: 60px;
    display: flex;
    align-items: center;
}

.nav-list { 
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center; 
    padding-right: 2em;
}

.nav-link { 
    color: var(--black); 
    text-decoration: none; 
    padding: 0.8em 0.8em; }

.nav-link:hover {
    background-color: var(--yellow-2);
}




/* Hero Section */

.hero {
    position: relative;
    background-image: url(/img/title-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
}

.hero--text {
    padding: 15% 30%;
    text-align: center;
}

.hero--text h2 {
    font-size: 35px;
}

.hero--text p {
    padding-top: 1em;
    padding-bottom: 3em;
}

/* Gallery section */

.gallery-title {
    font-family: var(--title-three-font);
    font-size: var(--small-title-size);
    text-align: center;
    padding: 3em 0em;
    font-weight: 400;
}

.gallery-box {
    text-align: center;
}

.vegg {
    height: 300px;
    width: 315px;
    object-fit: cover;
    padding: 1em;
}

.vegg:hover {
    opacity: 75%;
}






@media (max-width: 650px) {


    .hero--text h2 {
        font-size: 25px;
    }

    .flat {
        display: block;
    }

    .logo {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
    }

    .burg {
        margin-right: 2em;
    }

    .nav-list {
        display: block;
        padding-top: 1em;
        padding-right: 0px;
        background-color: var(--yellow-1);
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 70px;
        left: 0px;
        text-align: center;
        transition: all 0.5s linear;}

    .nav-list li {
        padding-bottom: 2em;
    }

    .hero h2, p {
        padding: 0% 25%;
    }

    .hidden {
        display: none;
    }

    .viz {
        display: flex;
    }

    .viz:hover {
        cursor: pointer;
    }

    .viz li {
        list-style: none;
    }

    .hero--text {
        padding: 30% 5%;
    }
}

@media (max-width: 370px) {
    .hero--text {
        padding: 3% 1%;
    }
}