*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body { 
    font-family:  var(--title-two-font); position: relative;}

.container { max-width: 1000px; margin: 0 auto;}

:root {
    /* Text Size and Font Families */
    --title-font: 'Source Serif 4', serif;
    --small-title-size: 17px;
    --title-size: 25px;  
    --title-two-size: 30px;
    --title-three-size: 35px;
    --super-large-title-size: 45px;
    --title-two-font: 'Coda', cursive;
    --large-title-size: 35px;

    /* Colors */
    --color-1: rgb(197, 221, 230);
    --color-2: rgb(133, 142, 168);
    --color-3: rgb(28, 48, 58);
    --color-4: rgb(127, 178, 196);
    --color-5: rgb(130, 162, 168);
    --blue-1: rgb(49, 69, 180);
    --black: rgb(0, 0, 0);
    --white: rgb(223, 223, 223);
}

img, svg, video {
    max-width: 100%;
}

.btn {
    text-decoration: none;
    color: var(--black);
    padding: 1em 3em;
    background-color: var(--color-1);
    border-radius: 50px;
    border: 1px solid var(--color-2);
    transition: 300ms;
}

.btn-2 {
    text-decoration: none;
    color: var(--black);
    padding: 1em 3em;
    background-color: var(--color-4);
    border-radius: 50px;
    border: 1px solid var(--color-2);
    transition: 300ms;
}

.btn:hover {
    background-color: var(--color-2);
    cursor: pointer;
}


/* Page 1 */

/* Nav */

header {
    /* position: sticky; */
    top: 0;
    z-index: 9;
}

.flat {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.viz {
    display: none;
}

.logo-nav-link { 
    font-family: var(--title-font); 
    text-decoration: none; 
    color: var(--black); 
    font-size: var(--title-size); 
    font-weight: 500;
    padding-left: 2em;
}

.logo {
    display: flex;
    align-items: center;
}

.bar-color {
    background-color: var(--color-1);
}

.nav-bar { 
    min-height: 60px;
    display: flex;
    align-items: center;
}

.nav-list { 
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center; 
    padding-right: 2em;
}

.nav-link { 
    color: var(--black); 
    text-decoration: none; 
    padding: 0.5em 0.8em;
    opacity: 0.75;
}

.nav-link:hover {
    border-bottom: 2px solid black;
}




/* Hero Section */

.hero {
    position: relative;
    background-image: url(/img/pexels-vanessa-loring-5965989.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 70vh;
}

.hero--text {
    padding: 20% 30%;
    text-align: center;
}

.hero--text h2 {
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 350;
    padding: 0em 1em 0.5em;
}

.hero--text p {
    padding: 0.5em 0em 2em;
    border-top: 1px solid rgb(117, 117, 117);
}

/* Gallery section */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 0.5fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-auto-flow: dense;
    grid-gap: 0em 1em;
    padding: 1em 1em 3.5em;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.8em 0.3em;
}

.card:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 200ms;
}

.card img {
    border-radius: 10px;
    height: 150px;
    /* padding: 1em 0em; */
    object-fit: cover;
}

.gallery-title {
    font-family: var(--title-two-font);
    font-size: var(--small-title-size);
    text-align: center;
    padding: 2em 0em 1em 0em;
    font-weight: 400;
}

/* Vegitable Popups */



.crypto {
    position: relative;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    background-color: rgba(102, 102, 102, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.veg-focus {
    display: flex;
    background-color: #EEDFE5;
    width: 65%;
    height: 500px;
    border-radius: 8px;
}

.veg-focus__img {
    width: 60%;
    padding: 2em 1.5em;
}

.veg-focus__img img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.veg-focus__text {
    width: 40%;
    padding: 2em 2.5em 2em 1em;
}

.close {
    display: flex;
    justify-content: end;
    font-size: 2em;
    font-family: 'Mulish', sans-serif; 
    font-weight: 100;
}

.close h5:hover {
    cursor: pointer;
    opacity: 0.4;
}

.veg-focus__text h2 {
    padding-bottom: 0.5em;
}

.veg-focus__text h4 {
    padding-bottom: 0.5em;
    font-weight: 200;
    font-size: 1.1em;
}

.veg-focus__text p {
    font-size: 0.9em;
    padding-bottom: 3em;
}

.veg-focus__info {
    display: flex;
    justify-content: space-around;
}

.veg-focus__info p {
    padding: 0.8em 1.3em 0.7em 1.3em;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.veg-focus__info a {
    padding: 0.8em 1.3em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 218, 70);
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: 300ms;
}

.veg-focus__info a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(70, 218, 70);
}

.away {
    display: none;   
}





/* Action Bar */

.action-bar {
    background-color: var(--color-1);
}

.act {
    display: flex;
}

.left-b {
    padding: 3% 15%;
    width: 70%;
}

.right-b {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--title-two-font);
}

.right-b a:hover {
    background-color: rgb(131, 152, 160);
}







/* Footer */

#footer {
    background-color: var(--color-3);
}

.footer-wrap {
    display: flex;
    padding: 2em 3em 2em 3em;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    width: 100%;
}

.first-footer, .second-footer, .third-footer {
    list-style: none;
}

.first-footer {
    padding-right: 3em;
}

.second-footer {
    border-left: 1px solid var(--white);
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
}

.third-footer {
    border-left: 1px solid var(--white);
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.list-item {
    color: var(--white);
    text-decoration: none;
    padding: 1em;
    margin-bottom: 2em;
}

.list-item:hover {
    color: var(--color-1);
}

.copyright {
    color: var(--white);
    text-align: center;
    padding-bottom: 2em;
    font-size: 12px;
}

.hov {
    padding: 0em;
    transition: 200ms;
}

.hov:hover {
    color: #727272;
}

.white {
    height: 100px;
}






/* ABOUT PAGE */
.about-us {
    display: flex;
}

.about_text {
    padding: 6em;
    width: 50%;
}


.about_text h3 {
    padding-bottom: 8%;
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
}

.about_photo {
    padding: 3em 5em 3em 1em;
    width: 50%;
    display: flex;
    justify-content: center;
}

.about_photo img {
    height: 45vh;
    width: 35vw;
    object-fit: cover;
}



/* Contact Section */

.contac-bac {
    background-color: #c9cedd;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 5% 6%;
}

.contact-icons h3 {
    padding: 0.3em 1em;
    margin-bottom: 1em;
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
    border-bottom: 1px solid rgb(117, 117, 117);
}

.con-inf {
    padding: 0;
}

.icon-cases {
    display: flex;
    width: 100%;
}

.icon-title {
    font-family: var(--title-two-font);
    font-size: var(--small-title-size);
    font-weight: 400;
}

.phone, .address, .email {
    padding: 0.8em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 4px;
    border-radius: 4px;
    width: 33.3%;
}

.phone i, .address i, .email i {
    font-size: var(--title-two-size);
    padding-bottom: 10%;
    color: #2c2c2c;
}

.phone p, .address p, .email p {
    color: var(--black);
    width: 100%;
    font-family: var(--title-font);
}

#map {
    height: 40vh;
    width: 100%;
}

.upper-close {
    justify-content: end;
    display: none;
    font-size: 1.5em;
    font-family: 'Mulish', sans-serif; 
    padding: 0em 1.5em 0.3em 1em;
}

.upper-close h3 {
    cursor: pointer;
}

@media (max-width: 1150px) {
    
    .veg-focus {
        display: flex;
        flex-direction: column;
        height: 630px;
        width: 85%;
        min-width: 300px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.1fr))
    }

    .upper-close {
        display: flex;
    }

    .veg-focus__img {
        width: 100%;
        height: 50%;
        padding: 0em 2em 0em 2em;
    }

    .veg-focus__img img {
        width: 100%;
        object-fit: cover;
    }

    .veg-focus__text {
        height: 50%;
        width: 100%;
        padding: 1em 4em 2em 4em ;
    }

    #depart {
        display: none;
    }
}

@media (max-width: 822px) {
    .about_text {
        padding: 6em 3em;
    }
}



@media (max-width: 650px) {
    
    .veg-focus__details {
        font-size: 12px;
        padding-left: 0em;
        padding-right: 0em;
    }

    .veg-focus__text {
        padding: 1em 2em;
    }

    .veg-focus__img {
        height: 30%;
    }

    .hero--text {
        padding: 40% 5% 30%;
    }
    
    .hero--text h2 {
        font-size: 23px;
        padding: 0em 1em 1em;
    }

    .hero--text p {
        font-size: 13px;
        margin: 4% 18% 0%;
    }

    .btn:hover, .nav-link:hover {
        background-color: var(--color-1);
        border-bottom: none;
        cursor: pointer;
    }

    .flat {
        display: block;
    }

    .logo-nav-link {
        font-size: 20px
    }

    .logo {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
    }

    .burg {
        margin-right: 2em;
    }

    .nav-list {
        display: block;
        padding-top: 1em;
        padding-right: 0px;
        background-color: var(--color-1);
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 70px;
        left: 0px;
        text-align: center;
        transition: all 0.5s linear;
    }

    .nav-list li {
        padding-bottom: 2em;
    }

    .hero h2, p {
        padding: 0% 25%;
    }

    .hidden {
        display: none;
    }

    .viz {
        display: flex;
    }

    .viz:hover {
        cursor: pointer;
    }

    .viz li {
        list-style: none;
    }


    .btn {
        padding: 0.8em 3em;
        font-size: 16px;
    }

    .footer-wrap {
        display: flex;
        flex-direction: column;
    }

    .first-footer {
        padding: 2em 0em;
        text-align: center;
    }

    .second-footer {
        padding: 2em 0em;
        border-left: none;
        border-top: 2px solid var(--white);
        text-align: center;
    }

    .third-footer {
        padding: 2em 0em;
        border-left: none;
        border-top: 2px solid var(--white);
        text-align: center;
    }

    .act {
        display: block;
    }

    .left-b {
        width: 100%;
        text-align: center;
        padding: 7% 0%;
    }

    .left-b h2 {
        padding-bottom: 3%;
    }

    .right-b {
        width: 100%;
        text-align: center;
        padding: 3% 0% 10% 0%;
    }


    /* About Page */

    .about-us {
        display: flex;
        flex-direction: column;
    }

    .about_text, .about_photo {
        width: 100%;
        padding: 2em 0em;
        text-align: center;
    }

    .about_text p {
        padding: 0em 3em;
    }

    .about_text h3 {
        font-size: 20px;
    }

    .about_photo img {
        height: 35vh;
        width: 80vw;
        object-fit: cover;
        border-radius: 12px;
    }

    .icon-cases {
        display: flex;
        flex-direction: column;
    }

    .phone, .address, .email {
        width: 100%;
        padding: 2em 0em;
        text-align: center;
        margin: 4px 0px;
    }

    .con-inf {
        width: 100%;
    }

    .phone i, .address i, .email i {
        padding-bottom: 2%;
    }

    .contact-icons h3 {
        padding: 0.2em 1em;
        margin: 2em 0em 1em;
        font-size: 20px;
        
    }
}

    @media (max-height: 600px) {
        .hero--text {
            padding-top:6rem;
        }
        
        .hero--text h2 {
            font-size: 20px;
        }

        .hero--text p {
            font-size: 14px;
        }
    }